
<section class="kontakt-article" id="centrovac">
    <img src="~/images/liska.png" alt="vodove barvy liška" />
    <p>
        <strong>Kontaktovat</strong> nás můžete na emailu:<strong> xyblabla@nevim.com</strong>
        </br>Nebo využijte formuláře níže
    </p>
    <!-- itnetwork.cz MAILFORM -->
    <p class="centrovany">
        <iframe frameborder="0" scrolling="no" width="500px" height="220px"
                src="https://www.itnetwork.cz/api/Service-MailForm/62ec11bcd1cd82.08810785">
            <!-- itnetwork.cz MAILFORM END -->
        </iframe>
    </p>
</section>
