@{
    ViewData["Title"] = "Náš tým";
}

<section>
    <div id="centrovac">
        <div class="container">
            <!-- TEAM MEMBER 1 - START -->
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/images/jelen.jpg" style="width:300px;height:420px;">
                    </div>
                    <div class="flip-card-back">
                        <h2>Jmeno Prijmeni</h2>
                        <p>bla bla bla</p>
                        <p>Sem dobrá :D</p>
                    </div>
                </div>
            </div>
            <!-- TEAM MEMBER 1 - END -->
            <!-- TEAM MEMBER 2 - START -->
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/images/pes.jpg" style="width:300px;height:420px;">
                    </div>
                    <div class="flip-card-back">
                        <h2>Jmeno Prijmeni</h2>
                        <p>bla bla bla</p>
                        <p>Sem dobrá :D</p>
                    </div>
                </div>
            </div>
            <!-- TEAM MEMBER 2 - END -->
            <!-- TEAM MEMBER 3 - START -->
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/images/jelen.jpg" style="width:300px;height:420px;">
                    </div>
                    <div class="flip-card-back">
                        <h2>Jmeno Prijmeni</h2>
                        <p>bla bla bla</p>
                        <p>Sem dobrá :D</p>
                    </div>
                </div>
            </div>
            <!-- TEAM MEMBER 3 - END -->
        </div>
    </div>
</section>
